<!DOCTYPE html>
<html lang="en">
<head>
	{{> headerLinks}}
	<title>Document</title>
</head>
<body>
		<!--PreLoader-->
    {{> loader }}
    <!--PreLoader Ends-->
	
	<!-- header -->
	{{> header }}
	<!-- end header -->
	
	<!-- search area -->
	{{> search }}
	<!-- end search area -->

	<!-- home page slider -->
	{{> homePageSlider }}
	<!-- end home page slider -->

	<!-- features list section -->
	{{> featuresList }}
	<!-- end features list section -->

	<!-- product section -->
	{{> product }}
	<!-- end product section -->

	<!-- cart banner section -->
	{{> cartBanner }}
    <!-- end cart banner section -->

	<!-- testimonail-section -->
	{{> testimonail }}
	<!-- end testimonail-section -->
	
	<!-- advertisement section -->
	{{> advertisement }}
	<!-- end advertisement section -->
	
	<!-- shop banner -->
	{{> shop }}
	<!-- end shop banner -->

		<!-- latest news -->
	{{> news }}
	<!-- end latest news -->

	<!-- logo carousel -->
	{{> logo }}
	<!-- end logo carousel -->

	<!-- footer -->
	{{> footer }}
	<!-- end footer -->
	
	<!-- copyright -->
	{{> copyright }}
	<!-- end copyright --> 

	{{!-- footerLink start --}}
	{{> footerLinks}}
	{{!-- footerlink end --}}
</body>
</html>